body{
margin:0;
font-family:Arial, sans-serif;
background: linear-gradient(to right,#1e3c72,#2a5298);
color:white;
text-align:center;
}

header{
background:#0f2027;
padding:20px;
font-size:26px;
}

.subtitle{
font-size:14px;
color:#ddd;
}

nav{
background:#203a43;
padding:10px;
}

nav button{
margin:5px;
padding:10px 15px;
border:none;
border-radius:10px;
background:white;
color:#203a43;
font-weight:bold;
cursor:pointer;
}

section{
display:none;
padding:20px;
}

.active{
display:block;
}

.card{
background:white;
color:black;
margin:20px auto;
padding:20px;
width:85%;
border-radius:15px;
text-align:left;
max-height:500px;
overflow-y:auto;
}
